extends base

block content

    div#call(data-id= {roomname, username, camera, voice})
        div.logo
            div.logo__content
                div.logo__title
                    span DOT
                    i.fas.fa-circle
                div.logo__roomname
                    span Room Name 
                    span #{roomname}
            i.far.fa-clipboard
            div.logo__chat
                span Close the chat box
        div#myStream
            video#myFace( width="auto" height="100%" autoplay, playsinline)
            div#fullScreen
                i.fas.fa-expand
            video#peerFace(autoplay,playsinline)
            div.call__button
                div#mute
                    i.fas.fa-microphone
                div#camera 
                    i.fas.fa-video
                div#phone 
                    i.fas.fa-phone
                div.call__setting
                    div.call__setting-box
                        i.fas.fa-camera
                        div
                            span camera change
                            select#cameras
                    i.call__setting-icon.fas.fa-wrench
                    
        div.message
            div
                div.message__title 
                    span Chat

                div.message__fakeDiv
                ul
            form.message__Form
                textarea.message__Input(placeholder="message" rows="1")
                i.message__button-icon.fas.fa-paper-plane
            
block scripts
    script(src="/public/js/room.js") 